* {
  margin: 0 0 0 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

body {
  background-color: #f7f7f7;
}

img {
  width: 100%;
}
main {
  position: absolute;
}
.splash-img {
  position: absolute;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  filter: grayscale(1);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  background-image: url("img/scala_splashv2-100.jpg");
}

#cartwrapper {
  margin-top: 20px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  height: 10vh;
  -webkit-box-shadow: 2px 1px 12px -1px rgba(0, 0, 0, 0.59);
  -moz-box-shadow: 2px 1px 12px -1px rgba(0, 0, 0, 0.59);
  box-shadow: 2px 1px 12px -1px rgba(0, 0, 0, 0.59);
  border-radius: 5px;
}
*/

/* .valgt {
  text-decoration: none;
  border-bottom: 0.1em solid #1b5728;
} */

/* .drink-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
} */

.logo_container_large {
  width: 100%;
  display: flex;
  justify-content: center;
}

.logo {
  width: 50%;
}

.button_container {
  display: grid;
  justify-content: center;
  width: 100%;
}

.filter {
  width: 100vw;
  height: 13vh;
}

.button {
  color: white;
  background-color: #333232;
  border: white solid 1px;

  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
}

.sidepanel {
  width: 0;
  position: fixed;
  z-index: 100;
  height: 100vh;
  top: 0;
  right: 0;
  overflow-x: hidden;
  transition: 0.5s;
  /* padding-top: 60px; */
  background-color: white;
}

.closebtn {
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 2.5rem;
}

.top {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  margin: 10px;
}

.top h1 {
  font-size: 2rem;
  margin-left: 30px;
}

.logo_container_small {
  width: 30%;
}

.wrapper {
  background-color: #f2a6a6;
  border: black 1px solid;
  /* margin: 10px; */
  padding: 10px;
  width: 100%;

  display: flex;
  align-items: center;
}

.left {
  width: 45vw;
}

.right {
  width: 40vw;
}

.drink-images {
  height: 100%;
  object-fit: contain;
  display: flex;
  justify-content: center;
}

.drink-images img {
  height: 200px;
  width: 200px;
  object-fit: contain;
}

#drinks h1,
h2,
h3,
p {
  font-family: "Bebas Neue", cursive;
}

.order_button {
  width: 100%;
}
.quantity {
  height: 50px;
  width: 50px;
  margin-top: 30px;
  border: 1px solid black;
  text-align: center;
  font-family: "Quicksand", sans-serif;
}

.quantity_wrapper {
  min-width: 100%;
}

#form_wrap {
  font-family: "Quicksand", sans-serif;
}
.minus,
.plus {
  margin-top: 30px;
  width: 50px;
  height: 50px;
  background-color: white;
  border: 0.1px solid black;
  cursor: pointer;
}

.add {
  margin-top: 5px;
  width: 100%;
  height: 40px;
  background-color: #333232;
  color: white;
  font-size: 0.8rem;
  border: 0px;
  cursor: pointer;
}

/** checkout **/
.title .arrowback {
  text-decoration: none;
  position: absolute;
  font-size: 2rem;
  color: white;
  margin-top: 10px;
  margin-left: 5px;
}

#subscribe_form {
  margin-top: 4vw;
  display: grid;
  justify-content: center;
}

form {
  width: 100vw;
  margin: 10px auto;
  padding: 20px;
  border-radius: 5px;
}

label {
  color: black;
}

input[type="text"],
input[type="number"] {
  background-color: #d3d3d3;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0.2rem;
  border: none;
  display: block;
  font-size: 0.875em;
  margin: 0 0 1em 0;
  padding: 0.5em;
  height: 4rem;
  width: 100%;
  margin-top: 5px;
  animation: dissappear 1s linear;
}

#expire,
#cvc {
  height: 3rem;
}

/* input[type="text"]:hover {
} */

input[type="submit"] {
  margin-top: 50px;
  margin-bottom: 20px;
  background-color: #f7f7f7;
  text-decoration: none;
  font-size: 1.2rem;

  cursor: pointer;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: black;
  border: 1px solid black;
}

.details_wrapper {
  display: flex;
}

.icon_container img {
  width: 50px;
  height: 50px;
}

.expire {
  width: 15vw;
}

.cvc {
  margin-left: 20px;
  width: 10vw;
}

.cvc .pristine-error {
  width: 35vw;
}

.proceed {
  margin-top: 50px;
  margin-bottom: 20px;
  background-color: #f7f7f7;
  text-decoration: none;
  font-size: 1.2rem;

  cursor: pointer;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: black;
  border: 1px solid black;
}

.continue {
  cursor: pointer;
  border: 1px solid black;
  width: 100%;
  height: 55px;
  text-align: center;
  text-decoration: none;
  color: white;
  line-height: 45px;
  background-color: #333232;
  font-size: 1.2rem;
}

.continue a {
  color: white;
  text-decoration: none;
}

/** checkout ***/

.purchaseModal {
  width: 80vw;
  display: none;
  margin: auto;
  margin-top: 20vw;
  height: 200px;
  color: black;
  background-color: white;
  animation: purchase 1s linear;
  margin-bottom: 50px;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  -webkit-box-shadow: 2px 1px 12px -1px rgba(0, 0, 0, 0.59);
  -moz-box-shadow: 2px 1px 12px -1px rgba(0, 0, 0, 0.59);
  box-shadow: 2px 1px 12px -1px rgba(0, 0, 0, 0.59);
}

.loading {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: black;
  margin-top: 23px;
  margin-left: 2px;
  animation: dots 2s infinite;
}

.loadingbars {
  display: flex;
}

.loading:nth-child(4) {
  animation-delay: 0.2s;
}

@keyframes dots {
  50% {
    opacity: 0;
  }
}
